<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{{ block('title') | trim ? (block('title') | trim ~ ' - ' ~ app.title) : app.title }}</title>
    <meta name="description" content="{{ block('description') | trim | default(app.description) }}">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    {% block og -%}
      <meta property="og:site_name" content="{{ app.name }}">
      <meta property="og:type" content="{{ block('og_type') | trim | default('website') }}">
      <meta property="og:url" content="{{ global.request.uri }}">
      <meta property="og:title" content="{{ block('title') | trim | default(app.title) }}">
      <meta property="og:description" content="{{ block('description') | trim | default(app.description) }}">
      <meta property="og:image" content="/images/donnnkey.png">
    {%- endblock -%}
    {%- block twitter -%}
      <meta name="twitter:url" content="{{ global.request.uri }}">
      <meta name="twitter:title" content="{{ block('title') | trim | default(app.title) }}">
      <meta name="twitter:description" content="{{ block('description') | trim | default(app.description) }}">
      <meta name="twitter:image" content="/images/donnnkey.png">
    {% endblock %}
    <link rel="apple-touch-icon" href="/images/donnnkey.png">
    <link rel="shortcut icon" href="/images/donnnkey.png">
    <link rel="canonical" href="{{ global.request.uri }}">
    <link href="/vendor/bootstrap.min.css" rel="stylesheet">
    <link href="/vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet">
  </head>

  <body class="bd-home">
    <a id="skippy" class="sr-only sr-only-focusable" href="#content">
      <div class="container">
        <span class="skiplink-text">Skip to main content</span>
      </div>
    </a>

    <header class="navbar navbar-light navbar-static-top bd-navbar" role="banner">
      <div class="clearfix">
        <button class="navbar-toggler pull-xs-right hidden-sm-up" type="button" data-toggle="collapse" data-target="#bd-main-nav">
          &#9776;
        </button>
        <a href="/" class="navbar-brand hidden-sm-up">
          <img src="/images/donnnkey.png" style="display: inline; position: relative; top: -2px; height: 28px;">
          Packmule
        </a>
      </div>
      <div class="collapse navbar-toggleable-xs" id="bd-main-nav">
        <nav class="nav navbar-nav">
          <ul class="nav navbar-nav">
            <li class="nav-item hidden-xs-down {{ url('home') in global.request.uri ? 'active' }}">
              <a href="{{ url('home') }}" class="nav-link">
                <img src="/images/donnnkey.png" style="position: relative; top: -2px; height: 28px;">
                Packmule
              </a>
            </li>
            <li class="nav-item {{ url('find') in global.request.uri ? 'active' }}">
              <a href="{{ url('find') }}" class="nav-link">Find a mule</a>
            </li>
            <li class="nav-item {{ url('become') in global.request.uri ? 'active' }}">
              <a href="{{ url('become') }}" class="nav-link">Become a mule</a>
            </li>
            <li class="nav-item {{ url('trips') in global.request.uri ? 'active' }}">
              <a href="{{ url('trips') }}" class="nav-link">
                Trips
                <span class="label label-warning">beta</span>
              </a>
            </li>
          </ul>
          <ul class="nav navbar-nav pull-xs-right">
            <li class="nav-item">
              <a href="#" class="nav-link">
              <i class="fa fa-user" aria-hidden="true"></i>
              Steve
              </a>
            </li>
            <li class="nav-item dropdown">
              <a href="#" class="nav-link"><i class="fa fa-usd"></i></a>
              <div class="dropdown-menu">
                <a href="#" class="dropdown-item"><i class="fa fa-eur"></i></a>
                <a href="#" class="dropdown-item"><i class="fa fa-gbp"></i></a>
                <a href="#" class="dropdown-item"><i class="fa fa-gg"></i></a>
                <a href="#" class="dropdown-item"><i class="fa fa-ils"></i></a>
                <a href="#" class="dropdown-item"><i class="fa fa-inr"></i></a>
                <a href="#" class="dropdown-item"><i class="fa fa-jpy"></i></a>
                <a href="#" class="dropdown-item"><i class="fa fa-krw"></i></a>
                <a href="#" class="dropdown-item"><i class="fa fa-rub"></i></a>
                <a href="#" class="dropdown-item"><i class="fa fa-try"></i></a>
                <a href="#" class="dropdown-item"><i class="fa fa-usd"></i></a>
              </div>
            </li>
            <li class="nav-item">
              <a href="#" class="nav-link">EN</a>
            </li>
            <li class="nav-item">
              <a href="#" class="nav-link"><i class="fa fa-sign-out"></i></a>
            </li>
          </ul>
        </nav>
      </div>
    </header>

    {% block body %}
      <main class="bd-masthead" id="content" role="main">
        {% block hero %}
          <div class="jumbotron bg-inverse">
            <div class="container">
              {{ block('jumbotron') }}
            </div>
          </div>
        {% endblock %}

        {% block main %}
          <div class="container">
            {{ block('content') }}
          </div>
        {% endblock %}
      </main>
    {% endblock %}

    <footer class="bd-footer text-muted" role="contentinfo">
      <div class="container" style="text-align: center;">
        <hr>
        <br>
        <img src="/images/donnnkey-nopack.png" style="height: 38px; opacity: .4">
        <br>
        <br>
        <br>
        Eyy orr!
        <br>
        <br>
        <br>
      </div>
    </footer>

    <style>
      .jumbotron {
        border-radius: 0;
      }
    </style>

    <script src="/vendor/jquery/dist/jquery.min.js"></script>
    <script src="/vendor/bootstrap.min.js"></script>

    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-80250380-1', 'auto');
      ga('send', 'pageview');
    </script>
  </body>
</html>
